<h1>{{title}}</h1>
<p>User count: &nbsp;{{userCount}}</p>
<ul>
  {{#users}}
    <li>({{uid}}) {{name}}</li>
  {{/users}}
</ul>
<br/>
<br/>
<p>User.find(uid) is {{userX.name}} when uid = {{userX.uid}}</p>
